<div class="chat-rooms-wrapper col-xs-3">
  <div class="control-bar">
    <div class="dropdown settings-btn pull-left">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownConfig" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownConfig">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <h4 class="title" align="center">Messages</h4>
    <div class="dropdown add-new-btn pull-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAddNew" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownAddNew">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
  <div class="room-list">
    <div class="search-control">
      <input type="text" placeholder="Search room">
      <i class="fa fa-search search-icon" aria-hidden="true"></i>
    </div>
    <div class="rooms-heading">
      <span>Conversations</span>
    </div>
    <ul class="contacts">
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
      <li class="contact-item">
        <a>
          <div class="avatar pull-left"></div>
          <div class="short-content pull-right">
            <div class="left-content pull-left">
              <span>User 0</span>
              <p>Something is last message</p>
            </div>
            <div class="right-content pull-right">
              <span class="date">Today</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
