<div class="messages-wrapper">
  <app-chat-rooms
    [chatRooms]="chatRooms"
    [selectedRoom]="selectedRoom"
    (joinRoom)="onJoinRoom($event)"
    (addNewRoom)="onAddNewRoom($event)">
  </app-chat-rooms>
  <div class="add-room-wrapper col-xs-9" *ngIf="isShowAddRoomInput">
    <input type="text" placeholder="Type new room name..." [(ngModel)]="newRoomName" (keyup.enter)="onSaveNewRoom()" (keyup.escape)="newRoomName = ''; isShowAddRoomInput = false">
  </div>
  <app-conversation
    #conversationContent
    [class.hidden]="isShowAddRoomInput"
    [data]="messages[selectedRoom._id]"
    [currentUser]="currentUser"
    [selectedRoom]="selectedRoom"
    (chatSubmit)="onChatSubmit($event)">
  </app-conversation>
</div>
