<div class="container">
  <div class="row">
    <form class="form-horizontal" [formGroup]="registrationForm" (ngSubmit)="onSaveUserAction()">
      <fieldset>

        <!-- Form Name -->
        <legend align="center">Register Here</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">First Name</label>
          <div class="col-md-4">
            <input name="textinput" placeholder="Insert your First Name" class="form-control input-md" formControlName="firstName" type="text" required autofocus>
            <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Last Name</label>
          <div class="col-md-4">
            <input name="textinput" placeholder="Insert your Last Name" class="form-control input-md" formControlName="lastName" type="text">
            <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Email</label>
          <div class="col-md-4">
            <input name="textinput" placeholder="Insert your Email" class="form-control input-md" formControlName="email" required type="text">
            <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Password</label>
          <div class="col-md-4">
            <input name="textinput" placeholder="Insert your Password" class="form-control input-md" formControlName="password" required type="password">
            <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text input-->
        <!-- <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Confirm Password</label>
          <div class="col-md-4">
            <input name="textinput" placeholder="Confirm your Password" class="form-control input-md" required="" type="text">
            <span class="help-block"> </span>
          </div>
        </div> -->

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"> </label>
          <div class="col-md-4">
            <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/login']">Back to login</button>
          </div>
        </div>

      </fieldset>
    </form>

  </div>
</div>
